<h1>Welcome Back <u><%= @user.name %></u></h1>

<section style="background-color: #eee;">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <% if @user.main_image.attached? %>
                            <div >
                                <%= image_tag @user.main_image, class: "rounded-circle img-fluid" %>
                            </div>
                        <% else %>
                            <%= image_tag "defaultuserimage.png", class: "rounded-circle img-fluid" %>
                        <% end %>
                        <h5><%= @user.name %></h5>
                        <p class="text-muted mb-1">His Role is <u><%= @user.role %></u></p>
                        <% if current_user?(@user) || current_user_admin? %>
                            <div class="d-flex justify-content-center mb-2">
                                <%= link_to "Edit", edit_user_path(@user), class: "btn btn-primary" %>
                                &nbsp;
                                <%= link_to "Delete", user_path(@user), method: :DELETE, class: "btn btn-danger" %>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Full Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0"><%= @user.name %></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Fathers Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0"><%= @user.fname %></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Mothers Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0"><%= @user.mname %></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email ID</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0"><%= @user.email %></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Contact Number</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0"><%= @user.number %></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Date of Birth</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0"><%= @user.dob.strftime("#{@user.dob.day.ordinalize} %B, %Y") %></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Address</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0"><%= @user.address %></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Country</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0"><%= @user.country %></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">User Role</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0"><%= @user.role %></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<p></p>