<table>
    <td style="text-align: left;">Currently you have <strong><i><%= @techpassedapp.count %></i></strong> Upcoming Appointments</td>
    <td></td>
</table>
<br>
<table class="css-serial">
    <thead>
        <tr>
            <th class="table_th">Sr No</th>
            <th class="table_th">Customer Name</th>
            <th class="table_th">Location</th>
            <th class="table_th">Technician Name</th>
            <th class="table_th">Appointment Date</th>
            <th class="table_th">Action</th>
    </thead>
    <tbody>
        <% @techpassedapp.each do |tpa| %>
            <tr>
                <td class="table_td"></td>
                <td class="table_td"><%= tpa.user.name %></td>
                <td class="table_td"><%= tpa.location %></td>
                <td class="table_td"><%= tpa.techname %></td>
                <td class="table_td"><%= tpa.appdate.strftime("#{tpa.appdate.day.ordinalize} %B, %Y") %></td>
                <td class="table_td">
                    <%= link_to "Edit", edit_appointment_path(tpa), class: "btn btn-info" %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>