<table>
    <td style="text-align: left;">Currently we have
        <%= @user_admin.count %> Admins</td>
    <td></td>
    <td style="text-align: right;">
        <%= link_to "Add New Admin", new_appointment_path, class: "btn btn-primary" %>
    </td>
</table>
<br>
<table class="css-serial">
    <thead>
        <tr>
            <th class="table_th">Sr. No.</th>
            <th class="table_th">Name</th>
            <th class="table_th">Fathers Name</th>
            <th class="table_th">Mothers Name</th>
            <th class="table_th">Address</th>
            <th class="table_th">Contact Number</th>
            <th class="table_th">Email ID</th>
            <th class="table_th">Country</th>
            <th class="table_th">Date of Birth</th>
            <th class="table_th">Action</th>
        </tr>
    </thead>
    <tbody>
        <% @user_admin.each do |user_admin| %>
            <tr>
                <td class="table_td"></td>
                <td class="table_td">
                    <%= user_admin.name %>
                </td>
                <td class="table_td">
                    <%= user_admin.fname %>
                </td>
                <td class="table_td">
                    <%= user_admin.mname %>
                </td>
                <td class="table_td">
                    <%= user_admin.address %>
                </td>
                <td class="table_td">
                    <%= user_admin.number %>
                </td>
                <td class="table_td">
                    <%= user_admin.email %>
                </td>
                <td class="table_td">
                    <%= user_admin.country %>
                </td>
                <td class="table_td">
                    <%= user_admin.dob %>
                </td>
                <td class="table_td">
                    <%= link_to "Edit", edit_user_path(user_admin), class: "btn btn-info" %>
                </td>
            </tr>
            <% end %>
    </tbody>
</table>